<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout"
>
<div layout:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Library cms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/authors-and-publishing-houses/manage">Zarządzanie autorami i wydawnictwami <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/books/manage">Zarządzanie książkami</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="card shadow w-75 mx-auto mt-5">
            <div class="card-header bg-dark text-light">
                <div class="h5"> Lista autorów </div>
            </div>
            <div class="card-body">

                <div class="row mx-auto">
                    <div>
                        <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#author-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Dodaj
                        </button>
                    </div>
                </div>
                <table class="table mt-3 table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Identyfikator</th>
                        <th scope="col">Imie i nazwisko</th>
                        <th scope="col">Akcje</th>
                    </tr>
                    </thead>
                    <tbody id="author-row-container">
                    </tbody>
                </table>

                <ul class="pagination mr-1" id="author-navigation">
                </ul>
            </div>
        </div>

        <div class="card shadow w-75 mx-auto mt-5">
            <div class="card-header bg-dark text-light">
                <div class="h5"> Lista wydawnictw </div>
            </div>
            <div class="card-body">
                <div class="row mx-auto">
                    <div>
                        <button class="btn btn-primary ml-1" data-toggle="modal" data-target="#publishing-house-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Dodaj
                        </button>
                    </div>
                </div>
                <table class="table mt-3 table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Identyfikator</th>
                        <th scope="col">Nazwa wydawnictwa</th>
                        <th scope="col">Akcje</th>
                    </tr>
                    </thead>
                    <tbody id="publishing-house-row-container">
                    </tbody>
                </table>

                <ul class="pagination mr-1" id="publishing-house-navigation">
                </ul>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="author-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj autora</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" th:action="@{/admin/authors}" th:object="${authorForm}">
                        <div class="modal-body">
                            <input type="text" th:field="*{name}" class="form-control" placeholder="Imie i nazwisko autora"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="publishing-house-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Dodaj wydawnictwo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form method="POST" th:action="@{/admin/publishing-house}" th:object="${publishingHouseForm}">
                        <div class="modal-body">
                            <input type="text" th:field="*{name}" class="form-control" placeholder="Nazwa wydawnictwa"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <script src="/paginator.js"></script>
    <script>

        window.addEventListener('DOMContentLoaded', () => {
            const authorContainer = document.getElementById('author-row-container');
            const authorNavigationContainer = document.getElementById('author-navigation');

            const publishingHouseContainer = document.getElementById('publishing-house-row-container');
            const publishingHouseNavigationContainer = document.getElementById('publishing-house-navigation');

            const authorPaginator = new Paginator(authorContainer, authorNavigationContainer, '/admin/authors/ajax', '/admin/authors/delete', ['name']);
            authorPaginator.init();

            const publishingHousePaginator = new Paginator(publishingHouseContainer, publishingHouseNavigationContainer, '/admin/publishing-house/ajax', '/admin/publishing-house/delete', ['name']);
            publishingHousePaginator.init();
        });
    </script>
</div>
</html>