<!doctype html>
    <html lang="en"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="layout"
    >
    <div layout:fragment="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="POST" th:action="@{/logout}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>

        <div class="container">

            <div class="card mt-3">
                <div class="card-header"> Lista książek </div>
                <div class="card-body">
                    <div th:each="book: ${books}" class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text" th:text="${book.name}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>